body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  box-sizing: border-box;
  color: lightgrey;
}

body {
  background-color: #193370;
  margin: 0;
}

.movieContainer {
  display: inline-flex;
  flex-wrap: wrap;
  /* justify-content:space-around; */
}

.movie {
  width: 300px;
  background-color: #3A4B70;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.movieImg {
  max-width: 100%;
}

.movieInfo {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movieOverview {
  position: absolute;
  background-color: transparent;  
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  max-height: 80%;
}

.movie:hover .movieOverview {
  transform: translateY(0%)
}

.likeButton {
  position: absolute;
  top: 0;
  right: 0;
  scale: 250%;
  border: none;


  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

/* NAV LINKS */

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 1rem;
  background: darkgrey;
}

.navLinks {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/* HEADINGS */
h2 {
  margin-left: 5%;
}

/* LOGO */
.logo {
  scale: 50%;
}